*,
*:before,
*:after{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-image: url("../img/Letters.jpg");
}
header{
	background:rgba(53,15,36,.8);
	padding:3%;
	margin-top:10%;
	color:rgba(248,209,174,1);
	font-family: serif;
	max-width: 50%;
	border:double 2px rgba(248,209,174,.8);
	border-radius: 4px;
	margin-left: 25%;
}
h1{
	text-align: center;
}
ul{
	background: rgba(53,15,36,.8);
	padding:2%;
	list-style: none;
	text-align: center;
	margin-top:3%;
}
li{
	color:rgba(248,209,174,1);
	font-family: serif;
	margin:3%;
}
/*a{
	color:rgba(248,209,174,1);
	font-family: serif;
	text-decoration: none;
	font-size: 1.2em;

}*/
nav a{
	transition: all .5s ease;
}
a:link{
	color:rgba(248,209,174,1);
	font-family: serif;
	text-decoration: none;
	font-size: 1.2em;
}
a:visited{
	color:rgba(191, 67, 89, 1);
}
a:hover{
	background:rgba(252, 173, 151, .7);
	padding-left:5px;
	border-radius: 3px;
	padding-right:5px;
}
a:active{
	color:rgba(102, 50, 88, 1);
}



